label {
    display: block;
}
input[type=text], textarea {
    font-size: 14px;
    box-sizing: border-box;
    line-height: 18px;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    min-width: 300px;
    outline: none;
    padding: 3px 5px;
    height: 30px;
}
textarea {
    height: auto;
}
input.date-picker {
    background: #f0f0f0;
    cursor: pointer;
    min-width: 110px;
    width: 110px;
}
input[type=submit] {
    height: 30px;
    line-height: 20px;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    font-size: 14px;
}
.form-control + .form-control {
    margin-top: 5px;
}
.error input{
    box-shadow: 0 0 5px #ffcb05;
    border: 1px solid #ffcb05;
}